.PhotoCard {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    /* background-color: #000; */
    z-index: 10;
}
.PhotoCard img {
    width: 100%;
    cursor: zoom-in;
    /* height: 100%; */
    z-index: 5;
    transition: all 0.05s;
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    -ms-transition: all 0.05s;
    -o-transition: all 0.05s;
}

.PhotoCard img:hover {
    opacity: 0.4;
}
