html,
body {
  @apply flex w-full h-full;
}

/* custom button  */
.btn {
  display: inline-flex;
  padding: var(--space-padding-padding-xxs) var(--space-padding-padding);
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-border-radius-xxs);
}

.btn-primary {
  background: var(--color-brand-color-primary);
}

.btn-secondary {
  /* Border-Radius-borderRadiusXXS */
  border-radius: var(--border-radius-border-radius-xxs);
  border: 1px solid var(--color-border-color-border);
  background: var(--color-bg-color-bg-container);
}

.btn-danger-secondary {
  border-radius: var(--border-radius-border-radius-xxs);
  border: 1px solid var(--color-border-color-error-border);
  background: var(--color-bg-color-bg-container);
}
