.Error {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    font-size: 1.6rem;
}
.Error p {
    text-align: center;
}
