.GoogleOAuth {
    background-color: #eee;
    margin-left: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    border: 1px solid transparent;
}
.GoogleOAuth ion-icon {
    color: rgb(76, 76, 223);
    font-size: 2rem;
    padding: 0 0.2rem;
}
.GoogleOAuth:hover {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(245, 245, 245);
}

@media only screen and (max-width: 576px) {
    .GoogleOAuth {
        display: none;
    }
}
