.Backdrop {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.664);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}
@media only screen and (min-width: 768px) {
    .Backdrop {
        display: none;
    }
}
