.HumburgerIcon {
    display: none;
    cursor: pointer;
}
/* .HumburgerIcon i {
    width: 5rem !important;
} */

@media only screen and (max-width: 768px) {
    .HumburgerIcon {
        display: block;
    }
}
