.Sidebar {
    width: 80%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    padding-bottom: 2rem;
    top: 0;
    left: 0;
    background-color: #fff;
    display: none;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: transform 0.15s ease-out;
    -webkit-transition: transform 0.15s ease-out;
    -moz-transition: transform 0.15s ease-out;
    -ms-transition: transform 0.15s ease-out;
    -o-transition: transform 0.15s ease-out;
}
.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.Nav {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.NavItem {
    text-align: center;
    width: 100%;
}
.Footer {
    text-align: center;
}
@media only screen and (max-width: 576px) {
    .Sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.User {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: #fff;
}

.UserPhoto img {
    width: 100%;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
}
