.NavigationItem {
    background-color: #eee;
    margin-left: 1rem;
    padding: 1rem;
}
.show,
.show1 {
    display: block;
}
.NavigationItem a:link,
.NavigationItem a:visited {
    color: #111;
}
.NavigationItem:hover {
    background-color: #ccc;
}

@media only screen and (max-width: 768px) {
    .show1 {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .show {
        display: none;
    }
}
