.NavigationItem {
    background-color: #eee;
    margin-left: 1rem;
    padding: 1rem;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    border: 1px solid transparent;
}
.NavigationItem a:link,
.NavigationItem a:visited {
    color: #111;
}
.NavigationItem:hover {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(245, 245, 245);
}
.NavigationItem a {
    padding: 1rem 0;
}

@media only screen and (max-width: 576px) {
    .NavigationItem {
        display: none;
    }
}
