*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}
