.SearchBar {
    flex: 2;

    text-align: center;
}
.SearchInput {
    width: 80%;
    padding: 1rem 4rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    margin-left: -3rem;
    background-color: #eee;
    border: 1px solid transparent;
}
.SearchInput:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1.6rem;
}
::placeholder {
    font-size: 1.6rem;
}
.SearchIcon {
    color: #767676;
}
@media only screen and (max-width: 992px) {
    .SearchInput {
        width: 85%;
    }
}
@media only screen and (max-width: 768px) {
    .SearchInput {
        width: 90%;
    }
}
