.Layout {
    /* margin-top: 6rem; */
    padding: 8rem 2rem;
    padding-bottom: 0;
}
@media only screen and (max-width: 576px) {
    .Layout {
        padding: 8rem 0;
        padding-bottom: 0;
    }
}
