.ImageList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 20px;

    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

@media only screen and (max-width: 992px) {
    .ImageList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 576px) {
    .ImageList {
        grid-template-columns: 1fr;
    }
}
